---
import Story from "./Story.astro";
import TechStack from "./TechStack.astro";
---

<section class="about" id="about">
  <h2 class="title">About</h2>
  <div class="timeline">
    <Story
      title="Fidelity Investments"
      color="green"
      description=`My co-op at Fidelity Labs in 2023 was a defining chapter in my career, as I played a pivotal role in the early stages of a crypto API product for digital asset management. The startup-like atmosphere buzzed with innovation, pushing my creativity and technical excellence to new heights. This experience polished my cloud architecture skills and empowered me to lead a product’s journey from concept to delivery—a journey that profoundly shaped my professional growth.`
    />
    <Story
      left
      title="Northeastern University"
      color="red"
      description=`In 2022, driven by a growing fascination with the crypto space, I pursued a master’s degree in information systems at Northeastern University, specializing in blockchain technology. This academic pursuit sharpened my Web3 and full-stack development capabilities. The experience has been exhilarating—I’ve connected with brilliant minds at Boston’s tech events, won several hackathons, and immersed myself in the crypto ecosystem and its underlying infrastructure.`
    />
    <Story
      title="Ingram Micro"
      color="blue"
      description=`In 2018, I joined Ingram Micro as a Software Engineer for 4 years. There, I learned the intricacies of elaborate enterprise systems by working in large, agile teams. My role was diverse, ranging from designing consumer-facing APIs and collaborating with interdisciplinary teams, to integrating complex systems through middleware services and scaling the infrastructure to support it all. Crafting internal tools and dashboards that enhanced our team’s efficiency was the most rewarding part of my experience.`
    />

    <Story
      left
      title="University of Mumbai"
      color="yellow"
      description=`Back in 2014, my love for video games and assembling PCs from components guided me to pursue an undergraduate degree in Computer Engineering. This casual interest in technology evolved into a lifelong passion for programming and led me to a profession I love – solving problems with code. My degree gave me a strong base in Computer Science, readying me for the challenges of a tech career.`
    />
  </div>
  <TechStack />
</section>

<style>
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 130px 0;
  }
  .title {
    width: 100%;
    max-width: 1200px;
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 64px;
  }

  .timeline {
    max-width: 1200px;
    margin: 0 auto;

    position: relative;
  }
</style>
