---
import { mailToText } from "../utils";
---

<footer class="footer">
  <div class="spacer"></div>
  <div class="container">
    <div class="grid">
      <a class="title link" href="#">Shailesh Shenoy</a>
      <div class="links">
        <div>
          <h3 class="list-title">site</h3>
          <ul class="link-list">
            <li class="link"><a href="#about">About</a></li>
            <li class="link"><a href="#projects">Projects</a></li>
            <li class="link"><a href="#contact">Contact</a></li>
          </ul>
        </div>
        <div>
          <h3 class="list-title">socials</h3>
          <ul class="link-list">
            <li>
              <a
                class="link"
                href="https://www.linkedin.com/in/shailesh-shenoy/"
                target="_blank">Linkedin</a
              >
            </li>
            <li>
              <a
                class="link"
                href="https://github.com/shailesh-shenoy/"
                target="_blank">Github</a
              >
            </li>
            <li><a class="link" href={mailToText} target="_blank">Email</a></li>
          </ul>
        </div>
        <div class="resume-container">
          <a class="resume" href="/resume.pdf" target="_blank">resume</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<style>
  .footer {
    display: flex;
    width: 100%;
    overflow: hidden;
    padding-top: 148px;
    background-image: linear-gradient(
      0deg,
      hsl(216deg 98% 66%) 0%,
      hsl(216deg 71% 59%) 11%,
      hsl(216deg 54% 51%) 22%,
      hsl(215deg 51% 44%) 33%,
      hsl(215deg 51% 38%) 44%,
      hsl(215deg 51% 31%) 56%,
      hsl(215deg 51% 25%) 67%,
      hsl(216deg 51% 19%) 78%,
      hsl(216deg 51% 13%) 89%,
      hsl(218deg 61% 7%) 100%
    );
  }

  .spacer {
    /* padding-left: calc(48px + 5rem + 144px); */
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 24px;
    column-gap: 16px;
    align-self: center;
    max-width: 1200px;
    padding-bottom: 200px;
  }

  .title {
    grid-column: span 12;
    font-size: 3rem;
  }

  .links {
    grid-column: 7 / 13;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-family: var(--font-display);
  }

  .list-title {
    margin-bottom: 48px;
    font-size: 1.5rem;
    line-height: 33px;
  }

  .link-list > * {
    margin-bottom: 16px;
  }

  .link {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  .link:hover {
    opacity: 0.7;
  }

  .resume-container {
    padding: 5px;
  }

  .resume {
    padding: 8px 16px;
    border-radius: 100px;
    font-weight: 500;
    background-color: var(--color-secondary);
    color: var(--color-blue);
  }

  @media screen and (max-width: 1400px) {
    .footer {
      padding: 0 130px;
    }
  }

  @media screen and (max-width: 768px) {
    .content {
      padding: 0 24px;
    }
  }
  @media screen and (max-width: 1024px) {
    .links {
      grid-column: span 12;
    }
  }
</style>
