---
import { socials } from "../utils";
---

<section class="hero">
  <h1 class="text">
    Hi! I am Shailesh Shenoy, a software engineer with over 4 years of
    experience in building scalable infrastructure and user-centric
    applications. Previously at
    <span class="highlight">Fidelity Investments</span> working on blockchain technologies.
  </h1>
  <div class="actions">
    <a class="cta cta-secondary" href="/resume.pdf" target="_blank">Resume</a>
    <a class="cta cta-primary" href="#contact">Contact</a>
  </div>
</section>

<style>
  .hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .text {
    max-width: 60rem;
    font-size: 2.25rem;
    line-height: 1.3;
    font-weight: 300;
  }

  .highlight {
    color: var(--color-green);
  }
  .actions {
    margin-top: 48px;
  }

  .cta {
    width: 8.75rem;
    padding: 12px 32px;
    border: 1px solid var(--color-secondary);
    border-radius: 0.5rem;
    color: var(--color-secondary);
    font-weight: 400;
    font-size: 1.25rem;
    cursor: pointer;
  }

  .cta-secondary {
    margin-right: 30px;
  }

  .cta-primary {
    background: var(--color-secondary);
    color: #0d1117;
  }
</style>
