---
import { type SkillItem, projects } from "../utils";

interface Props {
  title: string;
}

const { title } = Astro.props;
const projectData = projects[title];
---

<article class="project">
  <h3 class="title">{title}</h3>
  <img
    class="project-image"
    src={projectData.imageUrl}
    alt={projectData.name}
  />
  <p class="description">{projectData.description}</p>
</article>

<style>
  .project {
    grid-column: span 6;
    padding: 12px 20px;
    /* border-radius: 12px; */
    /* background-color: rgba(255, 255, 255, 0.1); */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: var(--color-secondary);
  }

  .project:hover > .project-image {
    filter: grayscale(0);
  }

  .project:hover > .description {
    opacity: 0.9;
  }

  .title {
    font-size: 1.5rem;
    /* margin-bottom: 8px; */
  }

  .project-image {
    margin-bottom: 4px;
    border-radius: 4px;

    aspect-ratio: 4 / 3;
    object-fit: cover;
    filter: grayscale(0.5);
    transition: filter 0.15s ease-in-out;
  }

  .description {
    font-size: 1rem;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
  }

  @media screen and (max-width: 1024px) {
    .project {
      grid-column: span 12;
    }
  }
</style>
