---
import { projects } from "../utils";
import ProjectCard from "./ProjectCard.astro";
---

<section class="projects" id="projects">
  <h2 class="title">Projects</h2>
  <div class="project-grid">
    {
      Object.values(projects).map((project) => (
        <ProjectCard title={project.name} />
      ))
    }
  </div>
</section>

<style>
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 0;
  }

  .title {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 80px;
    font-size: 4rem;
  }

  .project-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    column-gap: 48px;
    max-width: 1200px;
  }
</style>
