---

---

<div class="sidebar">
  <button class="menu-button">
    <i class="menu-icon gg-menu"></i>
  </button>
  <nav class="nav-container">
    <ul class="nav-menu">
      <li class="nav-link"><a href="#about">about</a></li>
      <li class="nav-link"><a href="#projects">projects</a></li>
      <li class="nav-link"><a href="#contact">contact</a></li>
    </ul>
  </nav>

  <ul class="socials">
    <li class="social-link">
      <a href="https://www.linkedin.com/in/shailesh-shenoy/" target="_blank">
        <i class="devicon-linkedin-plain"></i>
      </a>
    </li>
    <li class="social-link">
      <a href="https://github.com/shailesh-shenoy/" target="_blank">
        <i class="devicon-github-original"></i>
      </a>
    </li>
  </ul>
</div>

<style>
  .menu-button {
    display: none;
    height: 32px;
    color: var(--color-secondary);
    width: 32px;
    margin-top: 32px;
    margin-left: 16px;
  }

  .sidebar {
    display: flex;
    flex-flow: column;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 100vh;
    background: transparent;
    color: var(--color-secondary);
    font-size: 1.1rem;
  }

  .nav-container {
    flex: 9;
    display: flex;
    direction: column;
    align-items: center;
    width: 5rem;
    padding-left: 48px;
  }

  .nav-link {
    margin-bottom: 24px;
    opacity: 0.7;
    transition: opacity 0.15s ease-in-out;
  }

  .socials {
    padding-left: 48px;
    width: fit-content;
  }

  .social-link {
    margin-bottom: 24px;
    width: fit-content;
    font-size: 1.5rem;
    opacity: 0.7;
    transition: opacity 0.15s ease-in-out;
  }

  .nav-link:hover,
  .nav-link:focus,
  .social-link:hover,
  .social-link:focus {
    opacity: 1;
  }

  @media screen and (max-width: 1024px) {
    .sidebar {
      z-index: 10;
      height: fit-content;
    }

    .menu-button {
      display: block;
    }

    .nav-container {
      position: absolute;
      top: 20vh;
      transform: translateX(-8rem);
    }

    .socials {
      position: absolute;
      top: 50vh;
      transform: translateX(-8rem);
    }

    .nav-container.open {
      transform: translateX(0);
      transition: transform 0.15s ease-in-out;
    }

    .socials.open {
      transform: translateX(0);
      transition: transform 0.3s ease-in-out;
    }
  }
</style>

<script>
  const menuButton = document.querySelector(".menu-button");
  const menuIcon = document.querySelector(".menu-icon");
  const navContainer = document.querySelector(".nav-container");
  const socials = document.querySelector(".socials");
  const mainContent = document.querySelector(".content");

  const closeMenu = () => {
    navContainer?.classList.remove("open");
    socials?.classList.remove("open");
    menuIcon?.classList.remove("gg-close");
    menuIcon?.classList.add("gg-menu");
    mainContent?.classList.remove("content-blur");
  };

  const openMenu = () => {
    navContainer?.classList.add("open");
    socials?.classList.add("open");
    menuIcon?.classList.remove("gg-menu");
    menuIcon?.classList.add("gg-close");
    mainContent?.classList.add("content-blur");
  };
  const toggleMenu = () => {
    if (navContainer?.classList.contains("open")) {
      closeMenu();
    } else {
      openMenu();
    }
  };

  menuButton?.addEventListener("click", toggleMenu);
  const navLinks = document.querySelectorAll(".nav-link");

  navLinks.forEach((link) => {
    link.addEventListener("click", toggleMenu);
  });

  const socialLinks = document.querySelectorAll(".social-link");
  socialLinks.forEach((link) => {
    link.addEventListener("click", toggleMenu);
  });
</script>
