---
import { allSkills, type SkillItem } from "../utils";
import Skill from "./Skill.astro";
---

<div class="skills">
  <h3 class="title">Tech Stack</h3>
  <div class="skill-container">
    {
      Object.values(allSkills).map((skill: SkillItem) => (
        <Skill name={skill.name} icon={skill.iconSrc} />
      ))
    }
  </div>
</div>

<style>
  .skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding-top: 165px;
  }

  .title {
    font-size: 2.25rem;
    margin-bottom: 56px;
  }

  .skill-container {
    display: grid;
    align-self: center;
    width: fit-content;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 24px;
    /* display: flex;
    flex-flow: row wrap;
    row-gap: 32px; */
  }

  @media screen and (max-width: 1024px) {
    .skill-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>
